/* Overall page styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #e1eced;
}

/* Weather Dashboard Header */

header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(to left, #13236a, #5f6992);
    color: #ffffff;
}

header h1 {
    display: inline-block;
}

/* Styling for the input and search button to left-side of page */

aside {
    display: block;
    width: 20%;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
}

#left-container {
    text-align: center;
    width: 100%;
    height: 100%;
}

input {
    padding: 10px;
    margin: 10px;
}

#button {
    width: 70px;
    height: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    background-color: #5f6992;
}

#search {
    padding: 15px;
    font-size: 20px;
}

/* Styling for today's weather forecast at top of page */

article {
    width: 75%;
    margin: 20px 20px;
    margin-right: 10px;
    float: right;
}

#weather-details {
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

#today {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #a9abb4, #3f4c87);
    color: #fff;
    padding: 20px;
}

#today #icon img {
    max-width: 120px;
    margin-top: 15px;
}

#today #icon h4 {
    margin-top: -10px;
    text-transform: capitalize;
}


/* Styling for the five day weather forecast */

#five-day h2 {
    font-size: 25px;
    margin: 20px 0;
}

.weather-cards {
    display: flex;
    gap: 20px;
}

.weather-cards .card {
    list-style: none;
    color: #fff;
    padding: 18px 16px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #a9abb4, #3f4c87);
    line-height: 1.5;
    width: calc(100%/5);
}

.card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

/* Styling for the buttons of past searched cities */

.cityButton {
    width: 100%;
    padding: 10px;
    margin-left: 50px;
    margin-right: 30px;
    margin: 10px 10px;
    background-color: #5f6992;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
}